<style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .container {
      margin: 0 auto;
      width: 50%
    }
    h1 {
      color: green;
    }
  </style>

  <div class="container">
    <h1>Editing book</h1>

    <%= render "form", book: @book %>

    <br>

    <div>
    <%= link_to "See book details", @book %> |
    <%= link_to "Back", books_path %>
  </div>
</div>
