<style>

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  h1 {
    color: green;
    font-size: 80px;
  }
  
  </style>

  <p style="color: green"><%= notice %></p>
  
  <div class="container">
  <h1>New book</h1>

  <%= render "form", book: @book %>

  <br>

  <div>
    <%= link_to "Back", books_path %>
  </div>
</div>